/*
    > Ready for practice 3? just follow these specs:

    > First, look at index.html to see what we are working with...

    > Create a *single* selector for *both* the index and footer ids
        ☑️ give them a background color of #f1f1f1
        ☑️ and a 1px solid grey border
*/
#index, #footer {
    background-color: #f1f1f1;
    border: 1px solid grey;
}
/*
    > Create a selector for the <p> *one level deep* inside the "index" id
        ☑️ Make this text bold, italicized, 2rem
        ☑️ Make the left margin 20px
*/
#index > p {
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin-left: 20px;
}

/*
    > Now, create a selector for the "ul" and remove the bullet points
*/
ul {
    list-style-type: none;
}

/*
    > Create a :hover pseudo class selector for the *li's inside a ol*
        ☑️ Make the cursor into a pointer on hover
        ☑️ Change the text opacity on hover to .6
        ☑️ Set the transition to .2s ease all BOTH DIRECTIONS (hint, also on non-pseudo selector)
*/
ol li {
    opacity: 1;
    transition: 0.2s ease all;
}

ol li:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s ease all;
}

/*
    > Finally, replace the ul bullet points with check emojis
        ☑️ use a ::before pseudo element
        ☑️ then, replace the bullet points with a check mark emoji
        (you can copy and paste one from this file)
*/
ul li::before {
    content: '☑️';
}

/*
    Lastly, check your result against the solution image below
    (note the "hover" styling on section 2)
*/